.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px 0px;
}